::-moz-selection { 
  background: rgba(35,102,101,0.4); 
}
::selection { 
  background: rgba(35,102,101,0.4); 
}

body {
  position: relative;
  background-color: #fafafa;
}

/* NAVBAR AFFIX + SCROLLSPY */
.navaffix {
  margin-right:0px;
}

.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar-default {
    margin-bottom: -15px;
    background-color: #ffffff;
    border: none;
    background-color: white;
  /*  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.19); */
}

.navbar-default .navbar-brand {
    color: rgb(35,102,101);
    font-size: 2.1em;
    font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: rgba(35, 102, 101, 1);
    background-color: transparent;
    font-family: 'Raleway';
    text-transform: uppercase;

}

.navbar-default .navbar-nav>li>a {
    color: #464646;
    font-size: 1.2em;
    font-family: 'Raleway';
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #236665;
    background-color: #ffffff;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #000;
    background-color: transparent;
    font-weight: bold;
}

.navbar-collapse {
  text-align: center;
}

/* COVER PHOTO */

.jumbotron1 {
    height: 500px;
    background-size: cover;
    background-image: url('https://app.box.com/representation/file_version_127215470128/image_2048/1.png');
    padding: 0px;
    vertical-align: middle;
}

/* about me section */
.jumbotron2 {
  height: 350px;
  background-color: rgb(250,250,250);
  margin-bottom: 35px;
}

.vertical-center {
  min-height: 100%;  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  width: 100%;

}
.aboutheader {
  font-family: 'Helvetica';
  font-weight: 700;
  font-size: 5em; 
  text-align: center;
  color: #00695C;
}
/* student */
.aboutmebody{
  font-family: 'Open Sans';
  font-size: 1.05em;
  font-weight: 200;
}

.aboutmeheaders {
  font-family: 'Raleway', sans-serif;
  font-weight:700;
  font-size: 1.4em;
  margin-top:10px;
  margin-bottom:5px;
}

.aboutheaderbody {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  margin-top:15px;
  margin-bottom:10px;
  margin-left: 65px;
  margin-right: 65px;
  color: #95a5a6;
  text-align: center;
}

@media (max-width: 768px) {
.aboutmeheaders {
    text-align: center;
  }
.aboutmebody {
  text-align: center;
}
}

/* icons */
.fa {
    display: inline-block;
    margin-top:15px;
  }

.promo-icon {
    display: block;
    margin: 0 auto;
    background-color: black;
    color: #fff;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 65px;
    border-radius: 50%;
    margin-top: 10px;
    transition: .3s;
    margin-bottom:15px;
}

.promo-icon:hover {
  background-color: white;
}

.promo-icon:hover > .fa-heart {
  color: #00695C;
}

.promo-icon:hover > .fa-user{
  color: #00695C;
}

.promo-icon:hover > .fa-star {
  color: #00695C;
}

.promo-icon:hover > .fa-bullseye {
  color: #00695C;
}
.promo.right .promo-icon-box {
    float: right;
}

/* carousel slider */

.abreast .carousel-inner {
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 15px;
}
.abreast .item {
  display: inline-block;
  margin: 6px 4px 0 0;
}
.abreast .carousel-control, 
.abreast .carousel-indicators {
  display: none;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 391px;
}
.carousel-inner img {
  height: 391px;
  width: 523px;
  margin: 0 auto;
  max-width: 100%;
}

/* modals - reusme */

.modal {
  text-align: center;
  padding-top: 50px;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-title {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom:0px;
}

.modal-header {
  border: none;
}

.modal-subtitle {
  font-family: 'Raleway';
  font-weight: 300;
  font-size:1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #00695C;
  margin-top:5px;

}

.modal-body {
  font-family: 'Open Sans';
  font-weight: 100;
}

.modal-body-title {
  color: #00695C; 
  font-weight: 200; 
  font-family: 'Open Sans'; 
  text-transform: uppercase; 
  letter-spacing: 2px;
}

/* HORIZONTAL LINE */
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 3px solid #ddd;
    width: 7%;
}

.hr1 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid grey;
    opacity: 0.4;
    width: 85%;
    text-align: center;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.btn-block {
  width: 75%;
}

.btn {
    font-family: 'Raleway';
    font-size: 1em;
    font-weight: 400;
    background-color: white;
    border-color: #999;
    text-transform: uppercase;
    margin-bottom:25px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(51, 113, 113, 1);
    border-color: white;
}